@*
    *   * Copyright (c) Microsoft Corporation. All rights reserved. Licensed under the MIT license.
    *   * See LICENSE in the project root for license information.
*@
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        string displayRole = "";
        if (User.IsInRole(Constants.Roles.Admin))
        {
            displayRole = "Admin.";
        }else if (User.IsInRole(Constants.Roles.Faculty))
        {
            displayRole = "Teacher.";
        } else if (User.IsInRole(Constants.Roles.Student))
        {
            displayRole = "Student.";
        }
        var aadUserId = User.GetObjectIdentifier();
        string userPhoto = "";
        if (!string.IsNullOrEmpty(aadUserId))
        {
            userPhoto =string.Format( "<img src='/Photo/UserPhoto/{0}'/>",aadUserId);
        }
        @Html.AntiForgeryToken()
        <div class="userinfo">
            <a href="javascript:void(0);" id="userinfolink">Logged in as: @displayRole Hello @User.Identity.GetFullName() @Html.Raw(userPhoto)</a>
            <span class="caret" id="caret"></span>
        </div>
        <div class="popupcontainer" id="userinfoContainer">
            <div class="popuserinfo">
                <div class="subitem">
                    <a href="/Manage/AboutMe">About Me</a>
                </div>
                <div class="subitem">
                    <a href="/link">Link</a>
                </div>
                <div class="subitem">
                    <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
                </div>
            </div>
        </div>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}